.tables-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tables {
  flex-grow: 1;

}
#table_header{
  flex-basis: 70%;
}
#gearCl {
  flex-basis: 10%;
}

#edit_gear {
  padding: 23px 0 0 10px;

}

app-table {
  flex-grow: 3;
}

ul{
  flex-basis: 100%;
}
